<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Loginmapper">
    <select id="Userlogin" resultType="user" parameterType="user">
        select * from user where userid=#{userid} and password=#{password}
    </select>
    <select id="Workerlogin" resultType="worker" parameterType="worker">
        select  * from worker where userid=#{userid} and password=#{password}
    </select>

    <!--把注册得方法也写在该配置文件下-->
    <insert id="insertuser" parameterType="user">
        insert into user(userid,password) values(#{userid},#{password})
    </insert>
    <insert id="insertworker" parameterType="worker" >
        insert into worker(userid,password) values(#{userid},#{password})
    </insert>

</mapper>
